/*------------------------------------*\
  #A-TAG
\*------------------------------------*/

a {
  color: $link-color;
  text-decoration: $link-decoration;
  
  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
