---
title: Index page
---
{% extends "layouts/_layout.html" %}
{% import "data/data.html" as tests %}

{% block content %}
  {# partial example #}
  {% include "partials/_header.html" %}

  <main class="main">

    <p>Main</p>

    <section class="section">

      <p>Section</p>

      <div class="container">

        {# variable example #}
        <h1 class="mb-4">{{title}}</h1>

        <ul class="mb-3">

          <li>
            <a href="modules/module-1.html">Test Module</a>
          </li>

        </ul>

        {# data usage example #}
        <ul>

          {% for test in tests.list %}
          <li>{{test.title}}</li>
          {% endfor %}

        </ul>
        {# end of example #}

      </div>

    </section>

  </main>

  {% include "partials/_footer.html" %}

{% endblock %}
