//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);
// stylelint-enable

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              false;
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 8px;
$spacers: (
  0: 0,
  half: ($spacer / 2),
  1: $spacer,
  half-2: ($spacer * 1.5),
  2: ($spacer * 2),
  half-3: ($spacer * 2.3),
  3: ($spacer * 3),
  4: ($spacer * 4),
  5: ($spacer * 5),
  6: ($spacer * 6),
  7: ($spacer * 7),
  8: ($spacer * 8),
  9: ($spacer * 9),
  10: ($spacer * 10)
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $black;


// Links
//
// Style anchor elements.

$link-color:                $blue;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:      12;
$grid-gutter-width: 16px;

$grid-gutter-widths: (
  xs: $grid-gutter-width,
  sm: $grid-gutter-width,
  tp: $grid-gutter-width,
  tl: $grid-gutter-width,
  md: $grid-gutter-width,
  xm: $grid-gutter-width,
  lg: $grid-gutter-width,
  xl: $grid-gutter-width,
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 592px,
  tp: 768px,
  tl: 1024px,
  md: 1280px,
  xm: 1360px,
  lg: 1680px,
  xl: 1800px,
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
//
// 1920 - 1800 -> 1680
// 1799 - 1680 -> 1560
// 1679 - 1360 -> 1320
// 1359 - 1280 -> 1200
// 1279 - 1024 -> 960
// 1023 - 768  -> 720
// 767  - 592  -> 552
// 591  - 320  -> 100%

// Sidebar panel breakpoints and container width
// 1920 - 1800 -> 960
// 1799 - 1680 -> 960
// 1679 - 1360 -> 720
// 1359 - 1280 -> 720
// 1279 - 1024 -> 480
// 1023 - 768  -> 100%
// 767  - 592  -> 100%
// 591  - 320  -> 100%

$container-max-widths: (
  sm: 536px,
  tp: 704px,
  tl: 960px,
  md: 1200px,
  xm: 1280px,
  lg: 1520px,
  xl: 1720px,
);

// Default transition
$transition-property:        all;
$transition-duration:        200ms;
$transition-timing-function: ease-in-out;

$transition-base:            $transition-property $transition-duration $transition-timing-function !default;
$transition-fade:            opacity .15s linear !default;
$transition-collapse:        height .35s ease !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-family-monospace:  "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$font-size-lg:   24px;
$font-size-sm:   12px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;

$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 16px;
$h5-font-size: 16px;
$h6-font-size: 16px;


$headings-margin-bottom: ($spacer / 2);
$headings-font-family: 'Raleway', 'Roboto' 'Helvetica', 'Arial', sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: inherit;

$lead-font-size: ($font-size-base * 1.5);
$lead-font-weight: $font-weight-normal;

$small-font-size: 80%;
