---
title: New Module
---

{% extends "./layouts/_layout.html" %}

{% import "data/data-module-1.html" as moduleData %}




{% block stylesLink %}

  <link rel="stylesheet" media="all" href="/css/module-1.css">

{% endblock %}




{% block content %}
  {% include "./partials/_header.html" %}




  {# variable example #}
  <div class="container">
    <h1 class="mb-3">{{title}}</h1>

    <ul class="mx-auto">

      {% for item in moduleData.list %}

      <li>{{ item.title }}</li>

      {% endfor %}

    </ul>
  </div>




  {% include "./partials/_footer.html" %}
{% endblock %}
