.icon-add {
  display: block;
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down {
  display: block;
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  display: block;
  width: 1em;
  height: 1em;
  fill: #f05228;
}
.icon-checked {
  display: block;
  width: 1em;
  height: 1em;
  fill: #f05228;
}
.icon-donate {
  display: block;
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-done {
  display: block;
  width: 1em;
  height: 1em;
  fill: #6ac259;
}
.icon-facebook {
  display: block;
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like {
  display: block;
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-pdf {
  display: block;
  width: 1em;
  height: 1em;
  fill: initial;
}
